body {
  background-color: #1c2a44;
}

.menu-humb {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  cursor: pointer;
}

.menu-humb span {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 8px;
  background-color: #02e4e7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

span + span {
  margin-top: 14px;
}

.active span:nth-child(1) {
  -webkit-animation: top-1 0.3s linear forwards;
          animation: top-1 0.3s linear forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: top-2 0.3s linear forwards;
          animation: top-2 0.3s linear forwards;
}

.active span:nth-child(2) {
  -webkit-animation: scale-1 0.3s linear forwards;
          animation: scale-1 0.3s linear forwards;
}

.not-active span:nth-child(2) {
  background-color: #fff;
  -webkit-animation: scale-2 0.3s linear forwards;
          animation: scale-2 0.3s linear forwards;
}

.active span:nth-child(3) {
  -webkit-animation: bottom-1 0.3s linear forwards;
          animation: bottom-1 0.3s linear forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: bottom-2 0.3s linear forwards;
          animation: bottom-2 0.3s linear forwards;
}

@-webkit-keyframes top-1 {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top-1 {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes bottom-1 {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@keyframes bottom-1 {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 22px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@-webkit-keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes scale-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
}
@keyframes scale-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes scale-2 {
  0% {
    -webkit-transform: translate(30%, 0);
            transform: translate(30%, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}